<%= form_for(@army) do |f| %>

  <div class='row'>
    <div class='center'>
      <h1><%= f.text_field :name, class: 'form_control', placeholder: 'Enter Name Here...' %></h1>
    </div>

    <div class='center'>
      <h3><%= f.collection_radio_buttons :side_id, Side.order(:name), :id, :name %></h3>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
     <h3>Battles</h3>
      <% Battle.all.each do |battle| %>
        <p>
          <%= f.check_box :battles, { multiple: true }, battle %>
          <%= battle.name %>
        </p>
      <% end %>
    </div>

    <div class='col-md-6'>
      <h3>Events</h3>
      <% Event.all.each do |event| %>
        <p>
          <%= f.check_box :events, { multiple: true }, event %>
          <%= event.name %>
        </p>
      <% end %>
    </div>
  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-default' %>
  </div>

<% end %>