<%= form_for(@army) do |f| %>

  <div class='row'>
    <div class='center'>
      <%= f.text_field :name, class: 'form_control name-input', placeholder: 'Enter Name Here...' %>
    </div>

    <div class='center side-selection'>
      <%= f.collection_radio_buttons :side_id, @sides, :id, :name %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>

      <h3>Battles</h3>

      <div class='content-container'>
        <% @battles.each do |battle| %>
          <p>
            <label>
              <%= check_box_tag :battles, battle.id, @army.battles.include?(battle), name: 'army[battles][]' %>
              <%= battle.name %>
            </label>
          </p>
        <% end %>
      </div>

    </div>

    <div class='col-md-6'>

      <h3>Events</h3>

      <div class='content-container'>
        <% @events.each do |event| %>
          <p>
            <label>
              <%= check_box_tag :events, event.id, @army.events.include?(event), name: 'army[events][]' %>
              <%= event.name %>
            </label>
          </p>
        <% end %>
      </div>

    </div>
  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-default' %>
  </div>

<% end %>