<%= form_for(@army) do |f| %>

  <div class='row'>
    <div class='center'>
      <h1><%= f.text_field :name, class: 'form_control', placeholder: 'Enter Name Here...' %></h1>
    </div>

    <div class='center'>
      <h3><%= f.collection_radio_buttons :side_id, Side.order(:name), :id, :name %></h3>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
     <h3>Battles</h3>
      <!-- <% Battle.all.each do |battle| %>
        <p>
          <% @army.battles.include?(battle) ? used = '1' : used = '2' %>
          <%= f.check_box :battles, { multiple: true }, battle.id, { :checked => true} %>
          <%= f.label "#{battle.name}" %>
        </p>
      <% end %> -->

      <!-- <%= f.collection_check_boxes :battles, Battle.order(:begin_date), :id, :name do |b| %>
        <p>
          <%= b.check_box %>
          <%= b.label %>
        </p>
      <% end %> -->

      <% Battle.order(:begin_date).each do |battle| %>
        <p>
          <label>
            <%= check_box_tag :battles, battle.id, @army.battles.include?(battle), name: 'army[battles][]' %>
            <%= battle.name %>
          </label>
        </p>
      <% end %>


    </div>

    <div class='col-md-6'>
      <h3>Events</h3>

      <% Event.order(:begin_date).each do |event| %>
        <p>
          <label>
            <%= check_box_tag :events, event.id, @army.events.include?(event), name: 'army[events][]' %>
            <%= event.name %>
          </label>
        </p>
      <% end %>

    </div>
  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-default' %>
  </div>

<% end %>