<%= provide(:title, @army.name) %>
<h1><%= @army.name %></h1>

<h3>Events Included</h3>
<%= render partial: 'layouts/list', locals: { list: @all_events } %>

<h3>Notable Commanders</h3>
<% @commanders.each do |commander| %>
  <ul>
    <li>
      <%= link_to commander.player.name, commander.player %>
      <%= " - #{commander.title} (#{print_dates(commander)})" %>
    </li>
  </ul>
<% end %>


<%= render partial: 'layouts/map' %>

<div class='row'>
  <div class='col-md-12 center'>
    <%= link_to "Edit", edit_army_path, class: 'btn btn-default' %>
    <%= link_to 'Delete Army', @army, method: :delete, data: { confirm: "Are you sure you want to delete the #{@army.name}?" }, class: 'btn btn-danger' %>
  </div>
</div>