<%= provide(:title, @army.name) %>
<h1><%= @army.name %></h1>
<h4><%= @army.side.name %></h4>

<div class='row'>
  <div class='col-md-6'>
    <div>
      <h3>Timeline</h3>
      <div class='content-container'>
        <%= render partial: 'layouts/list', locals: { list: @army.all_events } %>
        <div class='button-actions'>
          <%= link_to "Add Battle", new_battle_path(army_id: @army.id), class: "btn btn-default btn-sm" %>
          <%= link_to "Add Campaign", new_campaign_path(army_id: @army.id), class: "btn btn-default btn-sm" %>
        </div>
      </div>
    </div>

    <h3>Notable Commanders</h3>
    <div class='content-container'>
      <% @army.commanders.each do |commander| %>
        <div>

          <a href=<%= "/players/#{commander.id}"%> class='list-group-item' >
            <%= "#{commander.name}" %>
            <% commander.ranks_with(@army).each do |rank| %>
                <p>
                  <span class='inline-dates'><%= "#{rank.title} | #{print_dates(rank)}" %></span>
                </p>
              <% end %>
          </a>

        </div>
      <% end %>
    </div>
  </div>

  <div class='col-md-6'>
    <h3>Positions</h3>
    <div class='content-container'>
      <%= render partial: 'layouts/map', locals: { locations: @army.location_coordinates } %>
    </div>
  </div>
</div>

<div class='row button-actions'>
  <%= link_to "Edit", edit_army_path, class: 'btn btn-default' %>
  <%= link_to 'Delete', @army, method: :delete, data: { confirm: "Are you sure you want to delete the #{@army.name}?" }, class: 'btn btn-danger' %>

</div>