<%= provide(:title, @army.name) %>
<h1><%= @army.name %></h1>

<h3>Events Included</h3>
<%= render partial: 'layouts/list', locals: { list: @all_events } %>

<div class='row'>
  <div class='col-md-12 center'>
    <%= link_to "Edit", edit_army_path, class: 'btn btn-default' %>
    <%= link_to 'Delete Army', @army, method: :delete, data: { confirm: "Are you sure you want to delete the #{@army.name}?" }, class: 'btn btn-danger' %>
  </div>
</div>