<%= form_for(@battle) do |f| %>

  <%= render partial: 'form-components/name', locals: { f: f } %>

  <div class='col-md-6'>
    <%= render partial: 'form-components/dates', locals: { f: f } %>

    <div id='select-combatants'>
      <h3>Combatants</h3>
      <div class='row'>
        <% @sides.each do |side| %>
          <div class='col-xs-6'>
            <div class='content-container checklist-normal'>
              <h4><%= side.name %></h4>
              <% side.armies.each do |army| %>
                <label>
                  <%= check_box_tag :armies, army.id, @battle.armies.include?(army), name: 'battle[armies][]' %>
                  <%= army.name %>
                </label><br>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <%= render partial: 'form-components/location', locals: { f: f } %>

    <div id='select-victor'>
      <h3>Victor</h3>
      <div class='center victor-selection'>
        <%= f.collection_radio_buttons :victor_id, @sides, :id, :name %>
      </div>
    </div>

    <%= render partial: 'form-components/campaign', locals: { f: f } %>

    <div id='select-conclusion'>
      <h3>Conclusion</h3>
      <div class='content-container'>
        <%= f.select :conclusion, options_for_select(["Defeat","Draw","Retreat","Surrender"]), {prompt: "Selection battle conclusion...."}, {class: 'form-control'} %>
      </div>
    </div>

    <%= render partial: 'form-components/description', locals: { f: f } %>
  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-primary' %>
  </div>

<% end %>