<%= provide(:title, @battle.name) %>
<h1><%= @battle.name %></h1>

<% if @battle.end_date %>
  <h4><%= "#{@battle.begin_date} - #{@battle.end_date}" %></h4>
<% else %>
  <h4><%= @battle.begin_date %></h4>
<% end %>

<h3><%= "Victor: #{@battle.victor.name}" %></h3>

<h4><%= "Outcome: #{@battle.conclusion}" %></h4>

<p><%= @battle.description %></p>
