<%= provide(:title, @battle.name) %>
<h1><%= @battle.name %></h1>

<h4><%= link_to @battle.location.name, @battle.location %></h4>
<h4><%= print_dates(@battle) %></h4>

<div class='row'>
  <div class="col-md-6">
    <h3><%= "Victor: #{@battle.victor.name}" %></h3>

    <h4><%= "Outcome: #{@battle.conclusion}" %></h4>

    <p><%= @battle.description %></p>
  </div>

  <div class='col-md-6'>
    <h3>Location</h3>
    <div class='content-container'>
      <%= render partial: 'layouts/map', locals: { locations: @battle.location_coordinates } %>
    </div>
  </div>

</div>

<div class='row button-actions'>
  <%= link_to "Edit", edit_battle_path, class:'btn btn-default' %>
  <%= link_to "Delete", @battle, method: :delete, data: { confirm: "Are you sure you want to delete the #{@battle.name}?" }, class:'btn btn-danger' %>
</div>