<%= provide(:title, @battle.name) %>
<h1><%= @battle.name %></h1>

<% if @battle.end_date %>
  <h4><%= "#{@battle.begin_date} - #{@battle.end_date}" %></h4>
<% else %>
  <h4><%= @battle.begin_date %></h4>
<% end %>

<h3><%= "Victor: #{@battle.victor.name}" %></h3>

<h4><%= "Outcome: #{@battle.conclusion}" %></h4>

<p><%= @battle.description %></p>

<div id="map"></div>
<script>


function initMap() {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @latitude %>, lng: <%= @longitude %>},
    scrollwheel: false,
    zoom: 8
  });
}


</script>
<script src=<%= @map_url %>
async defer></script>
