<%= provide(:title, @battle.name) %>
<h1><%= @battle.name %></h1>

<h5><%= link_to @battle.location.name, @battle.location %></h5>
<h5><%= print_dates(@battle) %></h5>

<div class='row'>
  <div class="col-md-6">




    <h3><%= "Victor: #{@battle.victor.name}" %></h3>
    <div class='content-container'>
      <h5><%= "Outcome: #{@battle.conclusion}" %></h5>
    </div>



    <h3>Combatants</h3>
    <div class='content-container'>
      <div class='row'>
        <% @sides.each do |side| %>
          <div class='col-xs-6'>
            <div class='content-container'>
              <h4><%= side.name %></h4>
              <% @battle.armies.select{ |army| army.side == side }.each do |army| %>
                <p><%= link_to army.name, army %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <h3>Description</h3>
    <div class='content-container'>
      <div class='paragraphs'><%= @battle.description %></div>
    </div>
  </div>

  <div class='col-md-6'>
    <h3>Location</h3>
    <div class='content-container'>
      <%= render partial: 'layouts/map', locals: { locations: @battle.location_coordinates } %>
    </div>
  </div>

</div>

<div class='row button-actions'>
  <%= link_to "Edit", edit_battle_path, class:'btn btn-default' %>
  <%= link_to "Delete", @battle, method: :delete, data: { confirm: "Are you sure you want to delete the #{@battle.name}?" }, class:'btn btn-danger' %>
</div>