<%= form_for(@player) do |f| %>

  <div class='row'>
    <%= render partial: 'form-components/name', locals: { f: f } %>
    <%= render partial: 'form-components/side', locals: { f: f } %>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <h3><%= f.label :bio %></h3>
      <div class='content-container'>
        <%= f.text_area :bio, class: 'desc-input form-control' %>
      </div>

      <h3>Positions Held</h3>
      <div class='content-container center'>
        <ul id='ranks-list' class='list-group'></ul>
        <div id='ranks-list-add' class='btn btn-default btn-sm'>Add Position</div>
      </div>

    </div>

    <div class='col-md-6'>

      <h3>Events</h3>

      <div class='content-container'>
        <% @events.each do |event| %>
          <p>
            <label>
              <%= check_box_tag :events, event.id, @player.events.include?(event), name: 'army[events][]' %>
              <%= event.name %>
            </label>
          </p>
        <% end %>
      </div>

    </div>
  </div>

  <%= render partial: 'form-components/submit_button', locals: { f: f } %>

<% end %>