<%= form_for(@player) do |f| %>

  <div class='row'>
    <div class='center'>
      <%= f.text_field :name, class: 'form_control name-input', placeholder: 'Enter Name Here...' %>
    </div>

    <div class='center side-selection'>
      <%= f.collection_radio_buttons :side_id, @sides, :id, :name %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <h3><%= f.label :bio %></h3>
      <div class='content-container'>
        <%= f.text_area :bio, class: 'bio-input' %>
      </div>

      <h3>Positions Held</h3>
      <div class='content-container center'>
        <ul id='ranks-list' class='list-group'></ul>
        <div id='ranks-list-add' class='btn btn-default btn-sm'>Add Position</div>
      </div>

    </div>

    <div class='col-md-6'>

      <h3>Events</h3>

      <div class='content-container'>
        <% @events.each do |event| %>
          <p>
            <label>
              <%= check_box_tag :events, event.id, @player.events.include?(event), name: 'army[events][]' %>
              <%= event.name %>
            </label>
          </p>
        <% end %>
      </div>

    </div>
  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-primary btn-lg' %>
  </div>

<% end %>