<% provide(:title, @player.name) %>
<h1><%= @player.name %></h1>
<h4><%= @player.side.name %></h4>

<div class='row'>
  <div class='col-md-6'>
    <h3>Biography</h3>
    <div class='content-container'>
      <p><%= @player.bio %></p>
    </div>

    <h3>Timeline</h3>
    <div class='center content-container'>
      <ul class='list-group'>
        <% @player.ranks.each do |rank| %>
          <li class='list-group-item'>
            <div class='rank-title'>
              <%= link_to rank.title, edit_rank_path(rank) %>
              <span> - </span>
              <%= link_to rank.army.name, rank.army %> <br>
              <span><%= "#{print_dates(rank)}" %></span>
            </div>

            <%= render partial: 'layouts/list', locals: { list: rank.all_events } %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add Rank", new_rank_path(player_id: @player.id), class: 'btn btn-default btn-sm add-rank' %>
    </div>
  </div>

  <div class='col-md-6'>
    <h3>Positions</h3>
    <div class='content-container'>
      <%= render partial: 'layouts/map', locals: { locations: @player.location_coordinates } %>
    </div>
  </div>
</div>

<div class='row button-actions'>
  <%= link_to "Edit", edit_player_path, class: 'btn btn-default' %>
  <%= link_to 'Delete', @player, method: :delete, data: { confirm: "Are you sure you want to delete #{@player.name}?" }, class: 'btn btn-danger' %>
</div>

