<% provide(:title, @player.name) %>
<h1><%= @player.name %></h1>

<h3>Bio</h3>
<p><%= @player.bio %></p>

<h3>Positions Held</h3>
<ul>
  <% @ranks.each do |rank| %>
    <li>

      <%= "#{rank.title} - " %>
      <%= link_to rank.army.name, rank.army %>

      <%= "(#{print_dates(rank)})" %>

    </li>
  <% end %>
</ul>