<%= form_for(@campaign) do |f| %>

  <div class='row center'>
    <%= f.text_field :name, class: 'form_control name-input', placeholder: 'Enter Name Here...' %>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <h3>Army</h3>
      <div class='content-container'>
        <%= f.grouped_collection_select :army_id, Side.all, :armies, :name, :id, :name, {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class='col-md-6'>
      <h3 class='row'>Dates</h3>
      <div class='col-sm-6'>
        <%= f.label "Begin Date", class: 'form_control' %>
        <%= f.date_field :begin_date, class: 'form_control' %>
      </div>
      <div class='col-sm-6'>
        <%= f.label "End Date", class: 'form_control' %>
        <%= f.date_field :end_date, class: 'form_control' %>
      </div>
    </div>

  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-primary' %>
  </div>

<% end %>