<%= form_for(@campaign) do |f| %>

  <%= render partial: 'form-components/name', locals: { f: f } %>

  <div class='row'>
    <div class='col-md-6'>
      <%= render partial: 'form-components/army', locals: { f: f } %>
    </div>

    <div class='col-md-6'>
      <%= render partial: 'form-components/dates', locals: { f: f } %>
    </div>
  </div>

  <div class='row center'>
    <%= f.submit yield(:button_text), class:'btn btn-primary' %>
  </div>

<% end %>