<%= provide(:title, @campaign.name) %>
<h1><%= @campaign.name %></h1>

<h4><%= print_dates(@campaign) %></h4>

<h3>Campaign Events</h3>
<%= render partial: 'layouts/list', locals: { list: @campaign.all_events } %>

<h3>Campaign Commanders</h3>
<% @campaign.commanders.each do |commander| %>
  <ul>
    <li>
      <%= link_to commander.player.name, commander.player %>
      <%= " - #{commander.title} " %>
    </li>
  </ul>
<% end %>

<%= render partial: 'layouts/map', locals: { locations: @campaign.location_coordinates } %>