<%= provide(:title, @location.name) %>

<h1><%= @location.name %></h1>

<div class='row'>
  <div class='col-md-6'>
    <h3>Events</h3>
    <div class='content-container'>
      <%= render partial: 'layouts/list', locals: { list: @location.all_events } %>
    </div>
  </div>

  <div class='col-md-6'>
    <h3>Location</h3>
    <div content='content-containers'>
      <%= render partial: 'layouts/map', locals: { locations: [@location.coordinates] } %>
    </div>
  </div>
</div>

<div class='row button-actions'>
  <%= link_to "Edit", edit_location_path, class:'btn btn-default' %>
  <%= link_to "Delete", @location, method: :delete, data: { confirm: "Are you sure you want to delete #{@location.name}?" }, class:'btn btn-danger' %>
</div>