<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to "civil war tracker", root_path, id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Armies", armies_path %></li>
        <li><%= link_to "Players", players_path %></li>
        <li><%= link_to "Battles", battles_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </nav>
  </div>
</header>