<div class='list-group'>
  <% list.each do |event| %>

    <a href=<%= "/#{plural(event)}/#{event.id}" %> class='list-group-item'>
      <%= event.name %>
      <% if [Battle, Event, Campaign].include?(event.class) %>
        <br><span class='inline-dates'><%= print_dates(event) %></span>
      <% end %>
    </a>

    <% if event.is_a? Campaign %>
      <div class='list-group list-group-nested'>
        <% event.all_events.each do |e| %>

          <a href=<%= "/#{plural(e)}/#{e.id}" %> class='list-group-item'>
            <span class='inline-event-name'><%= e.name %></span> <br>
            <span class='inline-dates'><%= print_dates(e) %></span>
          </a>


        <% end %>
      </div>
    <% end %>

  <% end %>
</div>